@model IndiceAcademico.Models.Enrollments



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>Subject</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<input type="hidden" asp-for="ID" />*@
            @*<div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Score" class="control-label"></label>
                <select asp-for="Score" asp-items="Html.GetEnumSelectList<Score>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                @*<input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>*@
            </div>
            @*<div class="form-group">
                <label asp-for="Cred" class="control-label"></label>
                <input asp-for="Cred" class="form-control" />
                <span asp-validation-for="Cred" class="text-danger"></span>
            </div>*@
            @*<div class="form-group">
                <label asp-for="ProfessorId" class="control-label"></label>
                <select asp-for="ProfessorId" class="form-control" asp-items="ViewBag.ProfessorId"></select>
                <span asp-validation-for="ProfessorId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
